// section {
//   flex-direction: column;
// }
@import './main.css';

ul {
  list-style-type: none;
  padding: 0;
}
.common-layout {
  width: 100vw;
  display: flex;
}
.min {
  flex-direction: column;
}

.el-menu-item.is-active {
  background-color: #4e5763;
  a {
    color: #fff;
    font-weight: 700;
  }
  .el-icon {
    color: #fff;
  }
}
.flex {
  display: flex;
}

// ul.el-menu {
//   height: 500px;
// }
.el-menu {
  height: 100%;
}

.p_aside.el-aside {
  /* width: auto; */
  --el-aside-width: auto;
  // width: auto !important;
}

.el-main {
  background-color: #f5f7f9;
}
